
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 4px 4%;
    align-content: center;
    flex-direction: row;
    /* padding: 38px; */
    /* margin-left: 37px; */
    padding-left: 10px;
}
  
  .contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0px;
    padding: 10%;
    
  
  }